/* Style for the navigation menu */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  
}

/* Style for the social media icons */
#Social-media {
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

#Social-media img {
  width: 25px;
  height: 25px;
}

/* Style for the page background */
body {
  background-color: #000;
}
#person-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
#contact-me {
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	padding: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}

#show-form-btn {
	display: block;
	margin: 0 auto;
}
