/* Set background color for the whole page */
body {
  background-image: url(beautiful-blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Style for the navigation bar */
nav {
  background-color: #0c0a0aec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px;
 
}


nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  
 
}

/* Style for the section containing the person description */
#person-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

#person-description h2 {
  font-size: 28px;
  margin-right: 50px;
  text-align: center;
}

#person-description img {
  max-width: 100%;
  height: auto;
  border-radius: 40%;
}
#person-description a {
  text-decoration: none;
}

/* Style for the social media icons */


#Social-media img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
header{
  position: fixed;
  top: 0; 
  width: 100%;
}

