body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("beautiful-blue.jpg");
  }
  
  nav {
	margin-top: 10px;
  }
  
  h1 {
	text-align: center;
  }
  
  .project {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .project img {
	max-width: 50%;
  }
  nav{
	position: fixed;
	top: 0;
    background-color: #f2f2f2;
	
   

  }
  