body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  nav {
	margin-top: 10px;
  }
  
  h1 {
	text-align: center;
  }
  
  .project {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .project img {
	max-width: 50%;
  }
  