/* Global styles */
body {
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
	background-image: url(beautiful-blue.jpg);
	text-align: center;
}

/* Header styles */
header {
	background-color: #1abc9c;
	color: #fff;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 30px;
	text-align: center;
}

.project {
	margin: 20px;
	border: 1px solid #ccc;
	max-width: 400px;
	padding: 20px;
	text-align: center;
}

.project h2 {
	font-size: 2em;
}

.project img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.project p {
	font-size: 1.2em;
}

a:hover {
	background-color: #1abc9c;
	color: #fff;
	text-align: center;
}

footer {
	text-align: center;
}
